---
// import "../../styles/theme.css";
// import BaseHead from "../components/BaseHead.astro";
import Header from "../../components/header2.astro";
import Footer from "../../components/footer.astro";

const {
  frontmatter: { title, description, pubDate, image, author },
} = Astro.props;
---
<html lang="en">
  <Header />
  <head>
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
    </style>
    <a href="/blog/" class="back-button">Back to Blog</a>


  </head>
  <body>
    <main>
      <article>
        <div class="article-head">
          <h1 class="title">{title}</h1>
          <em>Written by: {author}</em>
        </div>
        <div class="article-body">
          {image && <img width={720} height={360} src={image} alt="" />}
          Published on: {pubDate && <time>{pubDate}</time>}
          <hr />
          <slot />
        </div>
      </article>
      <br>
      <a href="/blog/" class="back-button">Back to Blog</a> 
      <span>|</span>
      <a href="/index/" class="back-button">Back to Home</a>



    </main>
    <div class="footer-container">
      <Footer />
    </div>
    <style>
      html {
        min-height: 100vh;
        height: 100%;
      }
      body {
        height: 100%;
        background: black;
        color: white;
        padding: 3rem;
      }
      time {
        display: inline-block;
        margin-top: 10px;
      }

      .back-button {
        color: #818cf8;
      }

    </style>
  </body>
</html>
