article h1 {
  font-size: 2.5rem;
}

article h2 {
  font-size: 2rem;
}

article h3 {
  font-size: 1.5rem;
}

article {
  margin: 0m;
}

article p,
article h1,
article h2,
article h3,
article h4 {
  margin: 16px 0px;
}