---
import Header from "~/components/header2.astro";
import Footer from "~/components/footer2.astro";
import BaseHead from "../components/BaseHead.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";

const { title, description } = Astro.props || {};
---

<head> </head>
<BaseLayout
  title="GearCove "
  description="Coming Soon to Ebikenook: Discover the Latest E-Bike Gadgets and Accessories!"
>
  <div class="mx-3 space-y-4 mb-8 max-w-4xl text-lg text-gray-400">
    <p>
        Get ready to elevate your e-bike experience with Gear Cove! Our upcoming page is your go-to destination for exploring the newest and most innovative gadgets and accessories tailored specifically for e-bike enthusiasts.
    </p>

    <p>
        From cutting-edge tech to stylish accessories, Gear Cove will showcase the hottest products hitting the market, curated to enhance your ride and take your e-biking adventures to the next level.
    </p>
    
    <p>
        Stay tuned for updates as we gear up to unveil Gear Cove and bring you the ultimate selection of gear for your e-bike journey! 
    </p>
  </div>
</BaseLayout>
