---
import { Accordion, AccordionItem } from "accessible-astro-components";
---

<accordian>
  <div class="accordian-container">
    <Accordion>
      <AccordionItem header="Comprehensive Guides and Tutorials">
        <p>
          Welcome to our eBike website, where we strive to provide you with a
          wealth of information and resources to enhance your electric biking
          experience. Whether you're just starting out or have been riding for
          years, our comprehensive guides and tutorials are designed to be
          invaluable companions on your eBike adventures.
        </p>
        <br />
        <p>
          Our team of experts is passionate about electric biking and wants to
          share their knowledge with you. We understand that eBikes offer a
          unique and exciting way to explore the outdoors, commute to work, or
          simply enjoy a leisurely ride. That's why we've curated a collection
          of tips, tricks, and practical advice to help you make the most of
          your eBike.
        </p>
        <br />
        <p>
          For novice riders, we have beginner's guides that cover the basics of
          eBikes, including how they work, different types of eBikes available,
          and what to consider when purchasing your first one. We'll walk you
          through the process of understanding battery capacity, motor power,
          and other important specifications so you can make an informed
          decision. If you're already familiar with eBikes and looking to take
          your riding to the next level, our advanced guides and tutorials are
          here to help. We delve into topics such as maintenance and care,
          optimizing battery life, and improving performance. You'll learn how
          to properly clean and maintain your eBike, troubleshoot common issues,
          and ensure that your rides are as smooth and enjoyable as possible.
        </p>
        <br />
        <p>
          Safety is a top priority when it comes to eBiking, so we also provide
          comprehensive guides on riding etiquette, traffic laws, and gear
          recommendations. We want you to feel confident and secure while
          exploring the roads or trails on your eBike, and our safety tips will
          help you navigate any situation with ease. So, whether you're seeking
          advice on selecting the perfect eBike, learning how to maintain your
          current ride, or simply looking for inspiration and tips to elevate
          your eBike adventures, you've come to the right place. Explore our
          website, dive into our guides, and embark on an electrifying journey
          with your eBike. Tab to us and let's make your eBike experience
          unforgettable!
        </p>
        <br />
        <a href="" style="color: rgb(151, 151, 200)">coming soon</a>
      </AccordionItem>

      <AccordionItem header="Featured Articles">
        <p>
          Welcome to Ebikenook, where we are passionate about sharing our love
          for eBikes and the many ways they can transform your daily life. Our
          featured articles are designed to educate, inspire, and entertain
          readers who share our enthusiasm for sustainable transportation and
          outdoor exploration.
        </p>
        <br />
        <p>
          From in-depth guides on choosing the perfect eBike for your needs to
          personal narratives that capture the joy of eBiking, our team of
          writers is dedicated to delivering high-quality content that caters to
          a wide range of interests and skill levels.
        </p>
        <br />
        <p>
          Discover the latest trends and innovations in the electric bike
          industry, learn tips and tricks for maximizing your eBike's
          performance, and explore the many ways eBiking can enhance your
          commute, fitness routine, and outdoor adventures.
        </p>
        <br />
        <p>
          Whether you're a seasoned eBiker or just starting out, our featured
          articles are here to help you make the most of your eBike experience.
          Dive into our collection of articles and join us on a thrilling
          journey of discovery and exploration.
        </p>
      </AccordionItem>

      <AccordionItem header="Community Building">
        <p>
          We believe that the true magic of eBiking lies in the connections we
          build along the way. Our community building efforts are centered
          around fostering a vibrant, inclusive, and supportive environment
          where electric bike enthusiasts from all walks of life can come
          together to share their passion for sustainable transportation and
          outdoor exploration.
        </p>
        <br />
        <p>
          At our website, we believe that a strong community is the foundation
          for a successful and enjoyable eBiking experience. By creating a space
          where eBike enthusiasts can connect, share their experiences, and
          learn from one another, we aim to inspire and empower a new generation
          of eBikers to embrace the joys of sustainable transportation and the
          great outdoors.
        </p>
        <br />
        <p>
          Join our community today and discover the many ways that eBiking can
          bring people together, enrich your life, and create lasting memories.
        </p>
      </AccordionItem>

      <AccordionItem header="Partnerships">
        <p>
          Ebikenook is always on the lookout for strategic partnership
          opportunities that align with our mission to promote sustainable
          transportation and eco-friendly living. If you represent a business,
          organization, or initiative that shares our values, we would love to
          hear from you..
        </p>
        <br />
        <p>
          Our partnerships are designed to be mutually beneficial, allowing us
          to collaborate on projects that raise awareness for electric bikes and
          encourage more people to adopt eco-friendly transportation options.
          Some examples of potential partnerships include:
        </p>
        <br />
        <ol>
          <li>Collaborative events and workshops</li>
          <li>Joint sponsorships</li>
          <li>Co-branded marketing campaigns</li>
          <li>Affiliate and rewards program</li>
        </ol>
        <br />
      </AccordionItem>
    </Accordion>
  </div>

  <style>
    .accordian-container {
      max-width: 1000px; /* Set the same max-width as the blog container */
      margin: 0 auto; /* Center the accordions horizontally */
      margin-top: 20px;
      optional: Add padding to match the blog container;
      /* background-color: #4e59bb; */
      background-color: #15181f;
      border-radius: 0.4rem;
      border: 2px solid #818cf8;
    }

    @media (max-width: 1000px) {
      .accordian-container {
        margin: 20px; /* Adjust the margin for mobile screens */
      }

      .accordion article {
        margin: 0;
      }
    }
  </style>
</accordian>
