<div class="relative mx-auto max-w-6xl">
  <div class="relative h-48 w-full bg-gray-300">
    <!-- Image -->
    <a
      href="https://www.gearwelt.com"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="https://images.unsplash.com/photo-1611937187627-a427e75ecf65?q=80&w=1721&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Advertisement"
        class="h-full w-full bg-black object-cover"
      />
      <!-- Text on the right -->
      <div class="absolute right-0 top-0 bg-black bg-opacity-50 p-4 text-white">
        <h2 class="font-bold text-2xl">GearWelt.</h2>
        <p class="mt-2">Where passion meets precison.</p>
        <sub
          >Explore a curated selection of high-end tech, stylish apparel, and
          unique lifestyle products at GearWelt.</sub
        >
      </div>
    </a>
  </div>
</div>
