<section class="bg-black lg:mx-8">
  <div
    class="mx-auto max-w-6xl items-center gap-16 py-8 px-4 lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
  >
    <div class="font-light text-gray-500 dark:text-gray-400 sm:text-lg">
      <h2
        class="mb-4 font-extrabold tracking-tight text-gray-900 text-4xl dark:text-white"
      >
        Empower Your Electric Journey
      </h2>
      <p class="mb-4">
        We're not just a news hub - we're innovators and problem solvers,
        dedicated to keeping you <span class="gradient-text font-medium"
          >informed
        </span> and <span class="gradient-text font-medium">inspired</span> about
        the ever-evolving world of eBikes. Our content combines industry knowledge
        and technical expertise to deliver the insights and perspectives you need,
        when you need them.
      </p>
      <p>
        We are engineers, designers and developers. Innovators and problem
        solvers with a deep rooted passion in the <span
          class="gradient-text font-medium">All Electric Lifestye</span
        >.
      </p>
    </div>
    <div class="mt-8 grid grid-cols-2 gap-4">
      <img
        class="w-full rounded-lg"
        src="https://images.stockcake.com/public/b/4/c/b4c1cfd7-dee0-437f-bcd1-70149679905b_large/urban-electric-scooter-stockcake.jpg"
        alt="ebikenook official content 1"
      />
      <img
        class="mt-4 w-full rounded-lg lg:mt-10"
        src="https://images.stockcake.com/public/7/d/4/7d4462ec-f21f-43a2-aca1-94ee708f19bc_large/urban-cycling-adventure-stockcake.jpg"
        alt="ebikeofficial content 2"
      />
    </div>
  </div>
</section>
