---
import { Icon } from "astro-icon";
import type { NavItem } from "~/types";
import "../styles/index.css";
import SearchBar from "~/components/SearchBar.astro";

const navItems: Array<NavItem> = [
  { title: "Featured Articles", url: "/post/" },
  { title: "Guides & Tutorials", url: "/guides/" },
  { title: "GearCove", url: "/gearcove/" },
  ];
  ---

  <nav class="dark:border-black-700 text-white sticky top-0 border-zinc-950 bg-white dark:bg-zinc-950">
    <div class="mx-auto flex max-w-7xl flex-wrap items-center justify-between p-4">
      <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
        <Icon name="ebikenook" class="h-10" />
        <span class="self-center whitespace-nowrap font-semibold text-sm dark:text-white">ebikenook</span>
      </a>
      <button data-collapse-toggle="navbar-dropdown" type="button"
        class="da inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-zinc-950 text-sm hover:bg-zinc-100 focus:outline-none focus:ring-2 focus:ring-zinc-200 md:hidden dark:focus:ring-zinc-600"
        rk:text-zinc-400 dark:hover:bg-zinc-700 aria-controls="navbar-dropdown" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
        <ul
          class="mt-4 flex flex-col rounded-lg border border-zinc-100 bg-zinc-50 p-4 font-medium md:mt-0 md:flex-row md:space-x-8 md:border-0 md:bg-white md:p-0 rtl:space-x-reverse dark:border-zinc-700 dark:bg-zinc-800 md:dark:bg-zinc-950">
          <li>
            <a href="/"
              class="block rounded bg-zinc-700 px-3 py-2 text-white md:bg-transparent md:p-0 md:text-zinc-700 dark:bg-zinc-600 md:dark:bg-transparent md:dark:text-zinc-500"
              aria-current="page">Home</a>
          </li>
          <li>
            <a href="/post"
              class="block rounded px-3 py-2 text-zinc-900 hover:bg-zinc-100 md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-zinc-700 dark:text-white dark:hover:bg-zinc-700 dark:hover:text-white md:dark:hover:bg-transparent md:dark:hover:text-zinc-500">Articles</a>
          </li>
          <li>
            <button id="dropdownButton" onclick="toggledropdown()" data-dropdown-toggle="dropdownNavbar"
              class="flex w-full items-center justify-between rounded px-3 py-2 text-zinc-900 hover:bg-zinc-100 md:w-auto md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-zinc-700 dark:border-zinc-700 dark:text-white dark:hover:bg-zinc-700 dark:focus:text-white md:dark:hover:bg-transparent md:dark:hover:text-zinc-500">Collection
              <svg class="ms-2.5 h-2.5 w-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m1 1 4 4 4-4"></path>
              </svg></button>
            <!-- Dropdown menu -->
            <div id="dropdownNavbar"
              class="z-10 hidden w-44 divide-y divide-zinc-100 rounded-lg bg-white font-normal shadow dark:divide-zinc-600 dark:bg-zinc-700">
              <ul class="py-2 text-zinc-700 text-sm dark:text-zinc-400" aria-labelledby="dropdownLargeButton">
                <li>
                  <a href="#"
                    class="block px-4 py-2 hover:bg-zinc-100 dark:hover:bg-zinc-600 dark:hover:text-white">Dashboard</a>
                </li>
                <li>
                  <a href="#"
                    class="block px-4 py-2 hover:bg-zinc-100 dark:hover:bg-zinc-600 dark:hover:text-white">Settings</a>
                </li>
                <li>
                  <a href="#"
                    class="block px-4 py-2 hover:bg-zinc-100 dark:hover:bg-zinc-600 dark:hover:text-white">Earnings</a>
                </li>
              </ul>
              <div class="py-1">
                <a href="#"
                  class="block px-4 py-2 text-zinc-700 text-sm hover:bg-zinc-100 dark:text-zinc-200 dark:hover:bg-zinc-600 dark:hover:text-white">Sign
                  out</a>
              </div>
            </div>
          </li>
          <li>
            <a href="/guides"
              class="block rounded px-3 py-2 text-zinc-900 hover:bg-zinc-100 md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-zinc-700 dark:text-white dark:hover:bg-zinc-700 dark:hover:text-white md:dark:hover:bg-transparent md:dark:hover:text-zinc-500">Guides</a>
          </li>

          <li>
            <a href="/gearcove"
              class="block rounded px-3 py-2 text-zinc-900 hover:bg-zinc-100 md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-zinc-700 dark:text-white dark:hover:bg-zinc-700 dark:hover:text-white md:dark:hover:bg-transparent md:dark:hover:text-zinc-500">GearCove</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <script>
    function toggleDropdown() {
      const dropdown = document.querySelector("#dropdown-menu");
      dropdown.classList.toggle("hidden");
    }
  </script>