---
import { Icon } from "astro-icon";
import type { NavItem } from "~/types";
import "../styles/index.css";

const navItems: Array<NavItem> = [
  { title: "Featured Articles", url: "/featured/" },
  { title: "Guides & Tutorials", url: "/guides/" },
];

import {
  Astronav,
  MenuItems,
  MenuIcon,
  Dropdown,
  DropdownItems,
  DropdownSubmenu,
} from "astro-navbar";
---

<div
  id="page-header"
  class="z-1000 sticky top-0 w-full items-center justify-between overflow-visible border-b border-transparent px-7 py-1.5 text-white"
>
  <Astronav>
    <div class="flex justify-between">
      <Icon name="ebikenook" class="h-10" />
      <MenuIcon class="w-4 h-4 text-gray-800" />
    </div>
    <MenuItems class="hidden lg:flex">
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>
          <Dropdown class="group">
            <button>
              <span> Services</span>
              <!-- You can style when dropdown is `open` -->
              <svg class="group-open:rotate-180">...arrow..</svg>
            </button>
            <DropdownItems>
              <div class="absolute top-0">
                <ul>
                  <li>Menu 1</li>
                  <li>Menu 2</li>
                  <li>
                    <DropdownSubmenu>
                      <button>Submenu</button>
                      <DropdownItems>
                        <ul>
                          <li>Sub Menu 1</li>
                          <li>Sub Menu 2</li>
                        </ul>
                      </DropdownItems>
                    </DropdownSubmenu>
                  </li>
                </ul>
              </div>
            </DropdownItems>
          </Dropdown>
        </li>
      </ul>
    </MenuItems>
  </Astronav>
</div>

<style>
  div {
    z-index: 1000;
  }
</style>
