---
import { Icon } from "astro-icon";
---

<nav
  class="dark:border-black-700 sticky top-0 z-50 border-zinc-950 bg-white px-3 dark:bg-zinc-950"
>
  <div
    class="container mx-auto flex max-w-7xl flex-wrap items-center justify-between"
  >
    <!-- Logo -->
    <div class="flex w-full items-center justify-between md:w-auto">
      <Icon name="ebikenook" class="h-10" />

      <a href="/" class="flex-1 px-2 py-3 font-bold text-white">ebikenook</a>

      <!-- mobile menu icon -->
      <div class="flex items-center md:hidden">
        <button type="button" class="mobile-menu-button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"></path>
          </svg>
        </button>
      </div>
    </div>

    <div
      class="navigation-menu hidden flex-col items-center justify-start pb-3 font-bold md:flex md:flex-row md:space-x-1 md:pb-0"
    >
      <a href="/" class="block px-3 py-2 text-zinc-600">Home</a>
      <a href="/post" class="block px-3 py-2">Articles</a>
      <!-- Dropdown menu -->
      <div class="relative">
        <button
          type="button"
          class="dropdown-toggle flex items-center gap-2 rounded px-3 py-2 hover:bg-zinc-800"
        >
          <span class="pointer-events-none select-none">Collection</span>
          <svg
            class="pointer-events-none h-3 w-3"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
          </svg>
        </button>
        <div
          class="dropdown-menu absolute hidden w-48 rounded-b-lg bg-zinc-950 pb-2 text-white"
        >
          <a href="/tags/Trends" class="block px-6 py-2 hover:bg-zinc-800"
            >Trends</a
          >
          <a href="/tags/Urbanism" class="block px-6 py-2 hover:bg-zinc-800"
            >Urbanism</a
          >
          <a href="/tags/Exploration" class="block px-6 py-2 hover:bg-zinc-800"
            >Exploration</a
          >
          <a href="/tags/Health" class="block px-6 py-2 hover:bg-zinc-800"
            >Health</a
          >
          <a
            href="/tags/Micromobility"
            class="block px-6 py-2 hover:bg-zinc-800">Micromobility</a
          >
        </div>
      </div>
      <a href="/guides" class="block px-3 py-2">Guides</a>

      <a href="/gearcove" class="block px-3 py-2">GearCove</a>
    </div>
  </div>
</nav>

<style>
  .navigation-menu a {
    text-decoration: none;
    background-image: linear-gradient(#6366f1, #d946ef);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in-out;
  }

  .navigation-menu a:hover,
  .navigation-menu a:focus,
  .navigation-menu a:active {
    background-size: 100% 0.1em;
    color: #818cf8;
  }
</style>

<script>
  // Select all dropdown toggle buttons
  const dropdownToggles = document.querySelectorAll(".dropdown-toggle");

  dropdownToggles.forEach((toggle) => {
    toggle.addEventListener("click", () => {
      // Find the next sibling element which is the dropdown menu
      const dropdownMenu = toggle.nextElementSibling;

      // Toggle the 'hidden' class to show or hide the dropdown menu
      if (dropdownMenu.classList.contains("hidden")) {
        // Hide any open dropdown menus before showing the new one
        document.querySelectorAll(".dropdown-menu").forEach((menu) => {
          menu.classList.add("hidden");
        });

        dropdownMenu.classList.remove("hidden");
      } else {
        dropdownMenu.classList.add("hidden");
      }
    });
  });

  // Clicking outside of an open dropdown menu closes it
  window.addEventListener("click", function (e) {
    if (!e.target.matches(".dropdown-toggle")) {
      document.querySelectorAll(".dropdown-menu").forEach((menu) => {
        if (!menu.contains(e.target)) {
          menu.classList.add("hidden");
        }
      });
    }
  });

  // Mobile menu toggle

  const mobileMenuButton = document.querySelector(".mobile-menu-button");
  const mobileMenu = document.querySelector(".navigation-menu");

  mobileMenuButton.addEventListener("click", () => {
    mobileMenu.classList.toggle("hidden");
  });
</script>
