---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Your All Electric Lifestyle" id="intro">
  <!-- <Icon slot="eyebrow" name="logomark" class="h-32" /> -->
  <Fragment slot="lead">
    Welcome to the most expansive hub for your latest new and updates on
    electric bikes to fuel your
    <span class="text-primary">all electric lifestyle</span>.
    <br />
    <br />
    <span class="text-primary">
      Our website is currently under construction. Stay tuned for updates and be
      sure to check our socials below.
    </span>
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://www.instagram.com/ebikeofficial/?hl=en"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="instagram" class="h-8" />
      <span>Our Community</span>
    </a>
    <a
      href="https://linktr.ee/ebikeofficial/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="motorbike-electric" class="h-8" />
      <span>Featured</span>
    </a>
  </div>
</ContentSection>
