---
import Header from "../components/header4.astro";
import BaseHead from "../components/BaseHead.astro";
import Horizontalbar from "../components/horizontalbar.astro";
import Horizontalbar2 from "../components/horizontalbar-guides.astro";
import Cta from "../components/cta.astro";
import Footer from "../components/footer2.astro";
const { title, description } = Astro.props || {};
import Alltags from "~/components/alltags.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/logo.png" type="image/svg+xml" />
  </head>

  <BaseHead
    title={"Articles"}
    description="A page to display all our blog posts"
  />

  <body>
    <Header />

    <div class="layout my-5">
      <div class="title-heading mx-auto w-full max-w-6xl bg-zinc-950">
        <div class="text-block py-4 text-center">
          <sub class="gradient-text font-semibold uppercase">category</sub>
          <h1
            class="gradient-text font-bold uppercase tracking-tighter text-5xl sm:text-2xl"
          >
            {title}
          </h1>
          <sup class="gradient-text font-semibold uppercase"
            >All Electric Lifestyle</sup
          >
        </div>

        <hr class="mx-auto border-t-2 border-gray-400 md:w-1/2" />
        <p
          class="mx-auto mb-12 hidden w-1/2 pt-2 font-light text-gray-400 text-xs/5 md:block"
        >
          {description}
        </p>

        <main class="py-1">
          <slot />
        </main>
      </div>

      <Cta />
      <Horizontalbar />
      <Horizontalbar2 />
    </div>
    <Footer />
  </body>


</html>
