---
import Header from "../components/header2.astro";
import BaseHead from "../components/BaseHead.astro";
import Horizontalbar from "../components/horizontalbar.astro";
import Horizontalbar2 from "../components/horizontalbar-guides.astro";
import Cta from "../components/cta.astro";
import Footer from "../components/footer2.astro";
const { title, description } = Astro.props || {};
import { Breadcrumbs, BreadcrumbsItem } from "accessible-astro-components";
---

<html lang="en">
  <BaseHead
    title="Articles"
    description="A page to display all our blog posts"
  />

  <body class="h-min">
    <Header />

    <div class="layout">
      <div class="title-heading mx-3">
        <h1 class="gradient-text text-xlg font-extrabold tracking-tighter">
          {title}
        </h1>
        <hr style="border-top: 2.5px solid #4e59bb; width: 72%; " />
        <p class="w-3/4 pt-2 text-indigo-400">{description}</p>
      </div>
      <br />
      <main>
        <slot />
      </main>
    </div>
    <style>
      body {
        margin: 0;
        width: 100%;
      }

      .layout {
        max-width: 1152px;
        margin: 0 auto;
      }

      .layout h1 {
        font-size: 3rem;
        @apply bg-gradient-to-br from-indigo-500 via-fuchsia-500 to-pink-500;
        /* text-align: center; */
      }

      /* Media query for smaller screens */
      @media (max-width: 1068px) {
        .layout {
          padding: 0.5rem; /* Reduce padding for smaller screens */
        }

        .title-heading h1,
        hr {
          font-size: 4rem; /* Adjust the font size for smaller screens */
          text-align: center;
          margin: 0 auto;
        }

        .title-heading p {
          display: none;
        }
      }
    </style>
    <Cta />
    <Horizontalbar />
    <Horizontalbar2 />
    <Footer />
  </body>
</html>
