---
import Header from "../components/header4.astro";
import BaseHead from "../components/BaseHead.astro";
import Horizontalbar from "../components/horizontalbar.astro";
import Horizontalbar2 from "../components/horizontalbar-guides.astro";
import Cta from "../components/cta.astro";
import Footer from "../components/footer2.astro";
const { title, description } = Astro.props || {};
import Alltags from "~/components/alltags.astro";
---

<html lang="en">
  <BaseHead
    title={"Articles"}
    description="A page to display all our blog posts"
  />

  <style>
    body {
      margin: 0;
      width: 100%;
    }

    .layout {
      max-width: 1152px;
      margin: 0 auto;
    }

    .layout h1 {
      font-size: 3rem;
      @apply bg-gradient-to-br from-indigo-500 via-fuchsia-500 to-pink-500;
      /* text-align: center; */
    }

    /* Media query for smaller screens */
    @media (max-width: 1000px) {
      .layout {
        padding: 0.5rem; /* Reduce padding for smaller screens */
      }

      .title-heading h1 {
        font-size: 4rem; /* Adjust the font size for smaller screens */
        line-height: 1.6ch;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 1rem;
      }

      .layout hr {
        margin: 0 auto;
      }

      .title-heading p {
        text-align: center;
        margin: 0 auto;
        display: none;
      }
    }
  </style>

  <body class="h-min">
    <Header />

    <div class="layout">
      <div class="title-heading mx-3">
        <h1 class="gradient-text text-xlg font-extrabold tracking-tighter">
          {title}
        </h1>
        <hr style="border-top: 2.5px solid #4e59bb; width: 72%; " />
        <p class="w-3/4 pt-2 text-gray-400">{description}</p>
      </div>

      <main>
        <slot />
      </main>
    </div>

    <Cta />
    <Horizontalbar />
    <Horizontalbar2 />
    <Footer />
  </body>
</html>
