---
import Header from "../components/header2.astro";
import BaseHead from "../components/BaseHead.astro";
import Horizontalbar from "../components/horizontalbar.astro";
import Horizontalbar2 from "../components/horizontalbar-guides.astro";
import Cta from "../components/cta.astro";
import Footer from "../components/footer2.astro";
const { title } = Astro.props || {};
---

<html lang="en">
  <BaseHead
    title="Articles"
    description="A page to display all our blog posts"
  />

  <body class="h-min">
    <Header />
    <div class="layout">
      <h1 class="gradient-text base font-extrabold tracking-tighter">
        {title}
      </h1>
      <hr
        style="border-top: 2.5px solid #4e59bb; width: 70%; margin: 0 auto;"
      />
      <br />
      <main>
        <slot />
      </main>
    </div>
    <style>
      body {
        margin: 0;
        width: 100%;
      }

      .layout {
        max-width: 1152px;
        margin: 0 auto;
      }

      .layout h1 {
        font-size: 6rem;
        @apply bg-gradient-to-br from-indigo-500 via-fuchsia-500 to-pink-500;
        text-align: center; /* Center align the h1 element */
      }

      /* Media query for smaller screens */
      @media (max-width: 1068px) {
        .layout {
          padding: 0.5rem; /* Reduce padding for smaller screens */
        }

        .layout h1 {
          font-size: 4rem; /* Adjust the font size for smaller screens */
        }
      }
    </style>
    <Cta />
    <Horizontalbar />
    <Horizontalbar2 />
    <Footer />
  </body>
</html>
